<span class="util-pull-right campground-rating__value">{{rating.value}} {{pluralize rating.value singular="star" plural="stars"}}</span>
<p class="campground-rating__description">{{rating.description}}</p>
